

@keyframes change-color {
  0%{
    border-color:  rgb(255, 0, 0);
  }
  25%{
    border-color: rgb(60, 255, 11);
  }
  50%{
    border-color: rgb(0, 255, 213);
  }
  75%{
    border-color: #0b23fd;
  }
  100%{
    border-color: rgb(153, 0, 255);
  }
}

.circulo{
  background-color: black;
  border-radius: 100%;
  border-style: solid;
  height: 35px;
  width: 35px;
  border: 2px solid white;
  margin: 0 5px 0 0
}
.cabeza{
  background-color: transparent;
  border-radius: 100%;
  border: 6px solid white;
  height: 7px;
  width: 7px;
  margin: 7px 0 0 10px
}

.cuerpo{
  background-color: transparent;
  border-radius: 40%;
  border-top: 4px solid white;
  height: 17px;
  width: 17px;
  margin: 3px 0 0 7px
}

.circulo:hover{
  animation: change-color 5s  linear infinite running;
}
