<h1 style="margin: 2% 0% 0% 10%; color: #6e6e6e;">CONEXIONES</h1>
<button [routerLink]="['agregar-conexion']" style="margin: 2% 0% 2% 10%;" class="btn btn-outline-success">Crear
  conexiones</button>
<button [routerLink]="['localizar-conexion']" style="margin: 2% 0% 2% 10%;" class="btn btn-outline-success">Localizar
  conexión</button>

<!-- Tabla de las conexiones existentes -->
<p-table [value]="devices" dataKey="id" editMode="row" [tableStyle]="{'width': '80%', 'margin-left': '10%'}">
  <!-- Encabezados -->
  <ng-template pTemplate="header">
    <tr style="text-align: center;">
      <th style="width:5%">Id del equipo</th>
      <th style="width:5%">Tipo de equipo </th>
      <th style="width:7%">Puerto conectado </th>
      <th style="width:1%">⇔</th>
      <th style="width:7%">Puerto conectado</th>
      <th style="width:10%">Tipo del equipo conectado</th>
      <th style="width:10%">Id del equipo conectado</th>
      <th style="width:5%"></th>
    </tr>
  </ng-template>
  <!-- Cuerpo -->
  <ng-template pTemplate="body" let-device let-editing="editing" let-ri="rowIndex">
    <tr>

      <td style="text-align: center;">
          {{device.sourceId}}
      </td>

      <td style="text-align: center;">
          {{device.sourceType}}
      </td>

      <td style="text-align: center;">
          {{device.sourcePort }}
      </td>

      <td style="text-align: center;">
        ⇔
      </td>

      <td style="text-align: center;">
          {{device.destinationPort }}
      </td>

      <td style="text-align: center;">
          {{device.destinationType }}
      </td>

      <td style="text-align: center;">
          {{device.destinationId }}
      </td>

      <td style="display: flex; justify-content: end;">
        <button class="delete-button" (click)="deleteConnection(device)">
          <svg class="delete-svgIcon" viewBox="0 0 448 512">
            <path
              d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
            </path>
          </svg>
        </button>
      </td>

    </tr>
  </ng-template>
</p-table>
