<div class="row mt-4 container text-center">
  <div class="col">
    <p>Aqui algo</p>
    <p>No se un ajolote tal vez</p>
    <img src="https://art.pixilart.com/thumb/a774035bbfe6537.png" width="80em" height="80em">
  </div>
  <div class="col">
<form>
  <div class="mb-3">
    <input placeholder="Usuario o correo" type="email" class="form-control" id="InputEmailUser" aria-describedby="emaiUser">
  </div>
  <div class="mb-3">
    <input placeholder="Contraseña" type="password" class="form-control" id="InputPassword">
  </div>
  <button type="submit" class="btn btn-primary" (click)="login()" >Iniciar sesión</button>
</form>
</div>
</div>
