<div class="row" style="margin: 5% ">
  <div class="col">
    <h1 style="font-size: 300%;text-align: center;" >Crear conexiones</h1>
    <br>
    <form (ngSubmit)="emitEquip()"  >
      <p>Tipo de equipo</p>
      <select class="mb-2" required
          [(ngModel)]="equipo.deviceType" name="select">
        <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion | camelCaseToTitleCase  }}</option>
      </select>

      <p>Nombre del equipo</p>
      <select *ngIf="equipo.deviceType === 'routers'">
        <option *ngFor="let router of routers" [value]="router">{{router}}</option>
      </select>
      <select *ngIf="equipo.deviceType === 'switches'">
        <option *ngFor="let switch of switches" [value]="switch">{{switch}}</option>
      </select>
      <select *ngIf="equipo.deviceType === 'endDevices'">
        <option *ngFor="let endDevice of endDevices" [value]="endDevice">{{endDevice}}</option>
      </select>
      <select *ngIf="equipo.deviceType === 'patchPanels'">
        <option *ngFor="let patchPanel of patchPanels" [value]="patchPanel">{{patchPanel}}</option>
      </select>
      <button type="submit" class="btn btn-success" style="margin-top: 1%;margin-left: 12px;">Guardar</button>
    </form>


  </div>




  <div class="col">
    <div class="d-flex justify-content-end">
      <button
      type="submit"
      class="btn btn-danger "
      style="margin-top: 1%;margin-left: 12px;"
      (click)="goBack()"
      >Volver</button>

    </div>
    <!-- <section id="interactive-diagram">
      <h2>Diagrama Interactivo</h2>
      <div id="router">
          <div class="port" id="router-port-1" draggable="true">Router Port 1</div>
          <div class="port" id="router-port-2" draggable="true">Router Port 2</div>
      </div>
      <div id="switch">
          <div class="port" id="switch-port-1" draggable="true">Switch Port 1</div>
          <div class="port" id="switch-port-2" draggable="true">Switch Port 2</div>
      </div>
  </section> -->

  </div>
</div>
