
<h1 class="m-4 text-white ">EQUIPOS</h1>
<shared-search-box
placeholder="Buscar equipos"
class="container"
></shared-search-box>
<table class=" container text-center table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Area</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
      <td>A</td>
    </tr>
  </tbody>
</table>
