
<h1 style=" width: 80%; margin-left: 10%; margin-top: 1%; margin-bottom: 1%;">EQUIPOS</h1>
<table style="margin-left: 10%;">
  <th>
    <button class="btn btn-info" type="submit">Buscar por nombre</button>
  </th>
    <th><button class="btn btn-info"  type="submit">Buscar por tipo</button>
    </th>
    <th></th>
<th><button class="btn btn-outline-success" type="submit" [routerLink]="['nuevo-equipo']">Agregar</button>
</th>
</table>


<table class="text-center table table-hover " style=" width: 100%;margin-left: 10%;margin-top: 1%;">
<p-table class=" text-center table table-hover " [style]="{'width': '100%'}"
[value]="dispositivos | sortBy: orederBy"
>
<ng-template pTemplate="header" >
  <thead>
    <tr style="border-bottom: 30%; border-top: 0px; border-left: 0;border-right: 0;">

      <th scope="col">
        <p-button

        label="Id"
        icon="pi pi-sort"
        styleClass="p-button"
        (onClick)="changeOrder('id')"
        >
      </p-button></th>
      <th scope="col">
        <p-button

        label="Nombre"
        icon="pi pi-sort"
        styleClass="p-button"
        (onClick)="changeOrder('name')"
        >
      </p-button></th>
      <th scope="col">
        <p-button

        label="Tipo"
        icon="pi pi-sort"
        styleClass="p-button"
        (onClick)="changeOrder('type')"
        >
      </p-button></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody *ngFor="let equipo of dispositivos" >
    <tr >
      <td>{{equipo.id}}</td>
      <td>{{equipo.name}}</td>
      <td>{{equipo.type}}</td>
      <td>
        <button class="btn btn-outline-dark" style="margin-left: 55%;" type="submit"  >Detalles</button>
      </td>
    </tr>
  </tbody>
</ng-template>
</p-table>
</table>

<!-- (click)="deleteDevice(this.dispositivos.id)" -->
