.switch-row {
  background-color: lightblue;
}

.router-row {
  background-color: lightgreen;
}

.final-device-row {
  background-color: lightcoral;
}

.patch-panel-row {
  background-color: lightgoldenrodyellow;
}
