
  <h1 style="width: 80%; margin-left: 10%; margin-top: 1%; margin-bottom: 1%; color: #6e6e6e;">MANTENIMIENTO
  </h1>
  <p-iconField iconPosition="left"
    [style]="{'width':'80%','margin-left':'10%','margin-top':'1%', 'margin-bottom':'1%'}">
    <th style="width: 80%; margin-left: 20%; margin-top: 1%; margin-bottom: 1%;">
      <div >
        <button (click)="showDialog()"
          class="btn btn-outline-success">Registrar mantenimiento</button>

        <!-- Zona de creacion de areas -->
        <p-dialog header="Datos del mantenimiento" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
          <form [formGroup]="mantenimientoForm" (ngSubmit)="onSubmit()">
            <label>Tipo de dispositivo:</label>
            <br>
            <select style="width: 40%;" id="deviceType" formControlName="deviceType">
              <option *ngFor="let tipos of device_type" [value]="tipos">{{tipos}}</option>
            </select>
            <br>
            <label>Nombre del dispositivo:</label>
            <br>
            <select style="width: 40%;" id="device_id" formControlName="device_id" (change)="onDeviceChange($event)">
              <option *ngFor="let device of devices" [value]="device.id">{{ device.name }}</option>
            </select>
            <input type="hidden" formControlName="deviceName">
            <br>
            <label>Encargado del mantenimiento:</label>
            <br>
            <input style="width: 100%" id="performedBy" formControlName="performedBy" type="text" placeholder="Nombre y apellido">
            <br>
            <label>Descripción:</label>
            <br>
            <textarea style="width: 100%;" id="description" formControlName="description"></textarea>
            <br>
            <label>Materiales:</label>
            <br>
            <input style="width: 100%;" id="materialsUsed" formControlName="materialsUsed" type="text">
            <br>
            <label>Fecha de mantenimiento:</label>
            <br>
            <input id="maintenanceDate" formControlName="maintenanceDate" type="datetime-local">
            <button type="submit" class="btn btn-success" style="margin-top: 1%; width: 65%; margin-left: 20%;">Guardar</button>
          </form>


        </p-dialog>
      </div>
    </th>
  </p-iconField>

  <p-table
  selectionMode="single"
  [globalFilterFields]="[ 'maintenanceDate']"
      [value]="registros"
      rowGroupMode="rowspan"
      groupRowsBy="deviceType"
      sortField="deviceType"
      sortMode="single"
      [tableStyle]="{'width': '94%', 'margin-top': '2%','margin-left': '3%'}">

      <ng-template pTemplate="header" >
              <tr style="text-align: center;"   class="td">
                  <th   class="td"  style="width: 8%;">Tipo</th>
                  <th    style="width: 20%;">Nombre</th>
                  <th    style="width: 10%;">Encargado</th>
                  <th    style="width: 20%;">Descripcion</th>
                  <th    style="width: 20%;">Materiales</th>
                  <th    pSortableColumn="maintenanceDate" style="width: 20%;">Fecha de mantenimiento <p-sortIcon field="maintenanceDate"/></th>

              </tr>
          </ng-template>
          <ng-template
              pTemplate="body"
              let-registro
              let-rowIndex="rowIndex"
              let-rowgroup="rowgroup"
              let-rowspan="rowspan">
                  <tr   class="td">
                      <td   class="td " *ngIf="rowgroup" [attr.rowspan]="rowspan">{{registro.deviceType }}</td>
                      <td style="text-align: center;" >
                          <span  >{{registro.deviceName}}</span>
                      </td>
                      <td style="text-align: center;">
                          {{registro.performedBy}}
                      </td>
                      <td>
                          <span class="ml-1 vertical-align-middle">{{registro.description}}</span>
                      </td>
                      <td>
                          {{registro.materialsUsed}}
                      </td>
                      <td style="text-align: center;">
                          {{registro.maintenanceDate | date:'dd/MMMM/yyyy hh:mm a'}}
                      </td>
                  </tr>
          </ng-template>
  </p-table>

