.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 255, 255);
}

/* plus sign */
.sign {
  width: 100%;
  font-size: 2em;
  color: rgb(255, 255, 255);
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 500;
  transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 0px;
  transition-duration: .3s;
  background-color: rgb(255, 191, 16);
}

.Btn:hover .sign {
  width: 37%;
  transition-duration: .3s;
  padding-left: 5px;
}

/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-left: 10px;
}

/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}



.Btn2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 255, 255);
  padding-left: 5px;

}

/* plus sign */
.sign2 {
  width: 80%;
  font-size: 2em;
  color: rgb(46, 110, 248);
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* text */
.text2 {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  transition-duration: .3s;
}

/* hover effect on button width */
.Btn2:hover {
  width: 125px;
  border-radius: 0px;
  transition-duration: .3s;
  background-color: rgb(46, 110, 248);
}

.Btn2:hover .sign2 {
  width: 32%;
  transition-duration: .3s;
  padding-left: 5px;
}

/* hover effect button's text */
.Btn2:hover .text2 {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-left: 6px;
}

/* button click effect*/
.Btn2:active {
  transform: translate(2px, 2px);
}
