
<form class="form" >
  <h1 style="text-align: center;">Datos de usuario</h1>
  <div class="row">
  <div class="col">
    <p><b>Id: </b></p>
    <br>
    <p><b>Nombre: </b></p>
    <br>
    <p><b>Apellido: </b></p>
  </div>
  <div class="col">
    <input  disabled class="input" placeholder="{{user.id}}" type="text">
    <p></p>
    <input class="input" placeholder="{{user.firstname}}" type="text">
    <p></p>
    <input class="input" placeholder="{{user.lastname}}" type="text">
  </div>
  <div class="col">
    <p><b>Rol: </b></p>

  <br>
  <p><b>Nombre de usuario: </b></p>

    <br>
    <p><b>Contraseña: </b></p>
  </div>
  <div class="col">
    <input class="input"  disabled placeholder="{{user.role}}" type="text">

    <p></p>
    <input class="input" placeholder="{{user.username}}" type="text">

    <p></p>
    <input class="input" placeholder="{{user.password}}" type="text">
  </div>
</div>
<div style="text-align: center;">
  <button class="btn" style="margin-right: 2px;" type="reset">Borrar cambios</button>
  <button class="btn" (click)="save()" type="submit">Guardar cambios</button>
</div>
</form>
