<form [formGroup]="updateForm" class="form" *ngIf="user">
  <h1 style="text-align: center;">Datos de usuario</h1>
  <div class="row">
    <div class="col">
      <p><b>Id: </b></p>
      <br>
      <p><b>Nombre: </b></p>
      <br>
      <p><b>Apellido: </b></p>
    </div>
    <div class="col">
      <input disabled class="input" [placeholder]="user.id" type="text">
      <p></p>
      <input class="input" [placeholder]="user.firstname" formControlName="firstname" type="text">
      <p></p>
      <input class="input" [placeholder]="user.lastname" formControlName="lastname" type="text">
    </div>
    <div class="col">
      <p><b>Rol: </b></p>
      <br>
      <p><b>Nombre de usuario: </b></p>
      <br>
      <p><b>Contraseña: </b></p>
    </div>
    <div class="col">
      <input class="input" [placeholder]="user.role" disabled type="text" >
      <p></p>
      <input class="input" [placeholder]="user.username" formControlName="username" type="text">
      <p></p>
      <input class="input"  formControlName="password" type="text">
    </div>
  </div>
  <div style="text-align: center;">
    <button class="btn" style="margin-right: 2px;" type="reset">Borrar cambios</button>
    <button class="btn" (click)="save()" type="submit">Guardar cambios</button>
  </div>
</form>
