
.card {
  position: relative;
  width: 70%;
  height: 100px;
  background: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  animation: color-change 3s linear infinite running;
  margin: 27px 0 23px 0;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: 120;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}


.guia {
  background-color: transparent;
  border-bottom: 2px solid rgb(120, 190, 255);
  border-top: 2px solid rgb(120, 190, 255);
  border-radius: 12px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.guia:hover{
  animation: change-color 5s  linear infinite running;
}

@keyframes change-color {
  0%{
    border-color:  rgb(120, 190, 255);
  }
  10%{
    border-color: rgb(11, 255, 174);
  }
  45%{
    border-color: rgb(161, 56, 247);
  }
  90%{
    border-color: #fded0b;
  }
  100%{
    border-color: blue;
  }
}

@keyframes color-change{
  0%{
    border-color: rgb(40, 40, 43);
  }
  40%{
    border-color: #f057b5;
  }
  80%{
    border-color: #ff0f0f;
  }
}

.circulo{
  background-color: black;
  border-radius: 100%;
  border-style: solid;
  height: 80px;
  width: 80px;
}
.cabeza{
  background-color: transparent;
  border-radius: 100%;
  border: 5px solid white;
  height: 40px;
  width: 40px;
  margin: 12px 0 0 18px
}

.cuerpo{
  background-color: transparent;
  border-radius: 20%;
  border-top: 5px solid white;
  height: 48px;
  width: 48px;
  margin: 5px 0 0 14px
}

.circulo:hover{
  animation: change-color 5s  linear infinite running;
}

.Areas{
  width: 100px;
  height: 100px;
  background-color: black;
  position: relative;
}
