<h1 class=" text-center" style="margin-top: 7%;">Guia rapida</h1>

<div style="display: flex;justify-content: space-evenly;">
  <div class="card">
    <h1>Paso 1</h1>
    <div class="card__content">
      <p class="card__title">Areas</p>
      <p class="card__description">Es necesario tener alguna area creada para poder continuar con otras secciones, para
        ello simplemente se crea un area vacia.</p>
    </div>
  </div>
  <div class="card">
    <h1>Paso 2</h1>
    <div class="card__content">
      <p class="card__title">Racks</p>
      <p class="card__description">Al igual que las areas se requiere tener creado por lo menos un rack para poder
        continuar con la creacion de equipos.</p>
    </div>
  </div>
</div>
<br>

<div style="display: flex;justify-content: space-evenly;">
  <div class="card">
    <h1>Paso 3</h1>
    <div class="card__content">
      <p class="card__title">Equipos</p>
      <p class="card__description">Dentro de esta seccion se podran observar los diferentes equipos que se tienen, asi
        mismo ver sus detalles, eliminarlos y crear nuevos equipos.</p>
    </div>
  </div>
  <div class="card">
    <h1>Paso 4</h1>
    <div class="card__content">
      <p class="card__title">Conexiones</p>
      <p class="card__description">Por ultimo se crean las conexiones que tiene cada equipo a traves de sus puertos</p>
    </div>
  </div>
</div>
<br>


<pdf-component style="display: flex; justify-content: center;"></pdf-component>
