
@import "primeng/resources/primeng.css";
/* You can add global styles to this file, and also import other style files */
  /* body{

    background-color: rgb(156, 156, 156);
  } */

  body{
    --text-color: #222;
    --background-color: #fff;


  }

  body.dark-theme {
    --text-color: #fff;
    --background-color: rgb(40, 40, 43);
  }
  body, table {
    background: var(--background-color);
  }

  h1,
  p {
    color: var(--text-color);
  }
  button {
    border: none;
    background-color: transparent;
  }


html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* Order */
@layer reset, primeng;
@import "bootstrap-reboot.css" layer(bootstrap-rebooot);

/* Reset CSS */


