
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  .p-datatable .p-datatable-header {
    --text-color: #6e6e6e;
    --background-color: transparent;
    border: transparent;
  }
  .p-datatable.dark-theme .p-datatable-header.dark-theme {
    --text-color: #fff;
    --background-color: rgb(40, 40, 43);
  }
  .p-datatable .p-datatable-header {
    background: var(--background-color);

  }

  .p-paginator{
    background-color: transparent ;

    border: transparent;


  }
}



  body{
    --text-color: #222;
    --background-color: #fff;
  }

  body.dark-theme {
    --text-color: #fff;
    --background-color: rgb(40, 40, 43);
  }
  body {
    background: var(--background-color);
  }

  h1,
  p {
    color: var(--text-color);
  }
  button {
    border: none;
    background-color: transparent;
  }


html, body { height: 100%; }



