<div class="row" style="margin: 5% ">

  <!-- Mitad izquierda de la pantalla -->
  <div class="col">
    <h1 style="font-size: 300%;text-align: center;" >Agregar nuevo equipo</h1>
    <br>
    <form (ngSubmit)="emitEquip()">
      <!-- Selector del tipo de equipo -->
      <p>Tipo de equipo</p>
        <select class="mb-2" required [(ngModel)]="equipo.deviceType" name="select">
          <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion | camelCaseToTitleCase}}</option>
        </select>
      <br>
      <input *ngIf="equipo.deviceType === 'routers'" required type="text" name="name" [(ngModel)]="equipo.name" class="from-control mb-2" placeholder="Nombre del equipo">
      <input *ngIf="equipo.deviceType === 'switches'" required type="text" name="name" [(ngModel)]="equipo.name" class="from-control mb-2" placeholder="Nombre del equipo">
      <input *ngIf="equipo.deviceType === 'endDevices'" required type="text" name="name" [(ngModel)]="equipo.name" class="from-control mb-2" placeholder="Nombre del equipo">
      <br>

      <!-- Número de puertos -->
      <p>Número de puertos</p>
      <input #numberOfPorts required type="number" name="numberOfPorts" min="0" max="24" oninput="validity.valid||(value='');" [(ngModel)]="equipo.numberOfPorts" class="from-control mb-2" placeholder="Puerto">
      <br>


      <!-- Opciones extra para el Switch -->
      <div *ngIf="equipo.deviceType === 'switches'" >
        <div class="contenido">
          <p class="Text-checkbox">¿Es poe? </p><input required name="poe" [(ngModel)]="equipo.poe" class="from-control mb-2" type="checkbox">
        </div>
        <div class="contenido">
          <p class="Text-checkbox">¿Es administrable? </p><input required name="manageable" [(ngModel)]="equipo.manageable" class="from-control mb-2" type="checkbox">
        </div>
      </div>
      <p *ngIf="equipo.deviceType === 'switches'" class="from-control mb-2">Selecciona el rack</p>
      <div *ngIf="equipo.deviceType === 'switches'" class="area">
        <select  class="mb-2 " [(ngModel)]="equipo.rackName" name="select">
          <option *ngFor="let rack of racks" [value]="rack">{{rack}}</option>
        </select>
      </div>
      <p *ngIf="equipo.deviceType === 'switches'">Número de ip</p>
      <div *ngIf="equipo.deviceType === 'switches'" class="flex justify-content-center">
        <div class="flex flex-column align-items-center">
          <p-inputOtp [(ngModel)]="equipo.ipAddresses" name="ipAddress" [length]="12" style="gap: 0">
            <ng-template pTemplate="input" let-token let-events="events" let-index="index">
              <input
                min="0" max="255"
                pInputText
                type="number"
                [maxLength]="4"
                (input)="events.input($event)"
                (keydown)="events.keydown($event)"
                [attr.value]="token"
                class="custom-otp-input"
              />
              <div *ngIf="index === 3" class="px-3">
                <p>.</p>
            </div>
             <div *ngIf="index === 6" class="px-3">
              <p>.</p>
          </div>
           <div *ngIf="index === 9" class="px-3">
            <p>.</p>
        </div>
            </ng-template>
          </p-inputOtp>
        </div>
      </div>


      <!-- Opciones extra para los Dispositivos Finales -->
      <p *ngIf="equipo.deviceType==='endDevices'" class="from-control mb-2">Selecciona el area</p>
      <div *ngIf="equipo.deviceType==='endDevices'" class="area" >
        <select class="mb-2" [(ngModel)]="equipo.areaName" name="select">
          <option *ngFor="let area of areas" [value]="area">{{area}}</option>
        </select>
      </div>
    <!-- Número de ip -->
     <p *ngIf="equipo.deviceType === 'endDevices'">Número de ip</p>
     <div *ngIf="equipo.deviceType === 'endDevices'" class=" flex justify-content-center">
      <div class="flex flex-column align-items-center">
          <p-inputOtp [(ngModel)]="equipo.ipAddresses" name="ipAddress" [length]="12" style="gap: 0">
              <ng-template pTemplate="input" let-token let-events="events" let-index="index">
                  <input
                  min="0" max="9"
                      pInputText
                      type="number"
                      [maxLength]="1"
                      (input)="events.input($event)"
                      (keydown)="events.keydown($event)"
                      [attr.value]="token"
                      class="custom-otp-input"
                      oninput="validity.valid||(value='');"
                      />
                   <div *ngIf="index === 3" class="px-3">
                      <p>.</p>
                  </div>
                   <div *ngIf="index === 6" class="px-3">
                    <p>.</p>
                </div>
                 <div *ngIf="index === 9" class="px-3">
                  <p>.</p>
              </div>
              </ng-template>
        </p-inputOtp>
      </div>
  </div>
      <br>

      <!-- Opciones extra para el patchPanel -->
      <p *ngIf="equipo.deviceType === 'patchPanels'" class="from-control mb-2">Selecciona el rack</p>
      <div *ngIf="equipo.deviceType === 'patchPanels'" class="area">
        <select  class="mb-2 " [(ngModel)]="equipo.rackName" name="select">
          <option *ngFor="let rack of racks" [value]="rack">{{rack}}</option>
        </select>
      </div>

      <!-- Opciones extra para el Router -->
      <p *ngIf="equipo.deviceType === 'routers'" class="from-control mb-2">Selecciona el rack</p>
      <div *ngIf="equipo.deviceType === 'routers'" class="area">
        <select  class="mb-2 " [(ngModel)]="equipo.rackName" name="select">
          <option *ngFor="let rack of racks" [value]="rack">{{rack}}</option>
        </select>
      </div>
      <!-- Número de ip -->


      <!-- Botones de guardar para cada tipo de equipo -->
      <button *ngIf="equipo.deviceType === 'routers'" type="submit" class="btn btn-success" style="margin-top: 1%;margin-left: 12px;" (click)="newRouter()">Guardar</button>
      <button *ngIf="equipo.deviceType === 'switches'" type="submit" class="btn btn-success" style="margin-top: 1%;margin-left: 12px;" (click)="newSwitch()">Guardar</button>
      <button *ngIf="equipo.deviceType === 'endDevices'" type="submit" class="btn btn-success" style="margin-top: 1%;margin-left: 12px;" (click)="newDispositivo()">Guardar</button>
      <button *ngIf="equipo.deviceType === 'patchPanels'" type="submit" class="btn btn-success" style="margin-top: 1%;margin-left: 12px;" (click)="newPatch()">Guardar</button>
    </form>
  </div>

  <!-- Mitad dercha de la pantalla -->
  <div class="col">
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-danger " style="margin-top: 1%;margin-left: 12px;" (click)="goBack()">Volver</button>
    </div>
    <div class="d-flex justify-content-center">
    <img  *ngIf="equipo.deviceType === 'switches'" src="assets/switch.png" width="256px" height="256px">
    <img  *ngIf="equipo.deviceType === 'routers'" src="assets/router.png"  width="256px" height="256px">
    <img  *ngIf="equipo.deviceType === 'endDevices'" src="assets/found_9694708.png"  width="256px" height="256px">
    <img  *ngIf="equipo.deviceType === 'patchPanels'" src="assets/patch.png"  width="256px" height="256px" >
  </div>
  </div>
  <div class="botones justify-content-end">
    <button *ngIf="equipo.deviceType === 'endDevices'" type="submit" class="btn btn-info " style="margin-top: 1%;margin-left: 12px;" (click)="goAreas()">Ir a areas</button>
    <button *ngIf="equipo.deviceType === 'routers'" type="submit" class="btn btn-info" style="margin-top: 1%;margin-left: 12px;" (click)="goRacks()">Ir a racks</button>
    <button *ngIf="equipo.deviceType === 'switches'" type="submit" class="btn btn-info" style="margin-top: 1%;margin-left: 12px;" (click)="goRacks()">Ir a racks</button>
    <button *ngIf="equipo.deviceType === 'patchPanels'" type="submit" class="btn btn-info " style="margin-top: 1%;margin-left: 12px;" (click)="goRacks()">Ir a areas</button>
  </div>
</div>
