form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
  width: 70%;
}

.contenido {
  display: flex;
  width: 150%;
}

.Text-checkbox {
  margin-right: 1%;
  text-align: center;
  width: 300%;
}

.botones {
  display: flex;
  text-align: center;
  width: 200%;
}

.area {
  display: flex;
  margin-left: 30%;
  text-align: center;
  width: 100%;
}

.contenido2 {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
