<table class=" text-center table table-hover" style="
width: 80%;
margin-left: 10%;
margin-top: 1%;">
  <thead>
    <tr style="border-bottom: 30%; border-top: 0px; border-left: 0;border-right: 0;">
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr >
      <td></td>
      <td></td>
      <td>
        <button class="btn btn-outline-dark" style="margin-left: 65%;" type="submit">Detalles</button>
      </td>
    </tr>
  </tbody>
</table>
