<p-table
  [value]="areas"
  selectionMode="single"
  dataKey="name"
  rowGroupMode="subheader"
  groupRowsBy="name"
  [tableStyle]="{'width':'80%','margin-left':'10%','margin-top':'1%', 'margin-bottom':'1%'}">

  <!-- Encabezado de la tabla -->
  <ng-template pTemplate="caption">
    <h1 style="width: 80%; margin-left: 10%; margin-top: 1%; margin-bottom: 1%;">Areas</h1>
    <p-iconField iconPosition="left" [style]="{'width':'80%','margin-left':'10%','margin-top':'1%', 'margin-bottom':'1%'}">
      <th style="width: 80%; margin-left: 20%; margin-top: 1%; margin-bottom: 1%;">
        <div class="card flex justify-content-center">
          <button (click)="showDialog()" class="p-button-success">Agregar</button>
          <p-dialog header="Agrega una nueva area" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
              <div style="display: flex; justify-content: space-between; font-weight: bold;">
                  <label for="name" class="font-semibold w-6rem">Nombre del area</label>
                  <input [(ngModel)]="zona.name" pInputText id="name" class="flex-auto" autocomplete="off"/>
              </div>
              <div class="flex justify-content-end gap-2">
                  <button label="Save" (click)="newArea()">Save</button>
              </div>
          </p-dialog>
        </div>
      </th>
    </p-iconField>
  </ng-template>

  <!-- Cuerpo de la tabla -->
  <ng-template pTemplate="header">
    <tr>
      <th style="width:25%">Area</th>
      <th style="width:25%">Id</th>
      <th style="width:25%">Nombre</th>
      <th style="width:25%">Puertos</th>
    </tr>
  </ng-template>

  <!-- Areas desplegables -->
  <ng-template pTemplate="groupheader" let-area let-rowIndex="rowIndex" let-expanded="expanded">
    <tr>
        <td colspan="4">
            <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="area"
                class="p-button-text p-button-rounded p-button-plain mr-2"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
            </button>
            <span class="font-bold ml-2">{{area.name}}</span>
        </td>
    </tr>
  </ng-template>

  <!-- Equipos en las areas -->
  <ng-template pTemplate="groupfooter" let-area>
    <tr class="p-rowgroup-footer">
        <td colspan="3" style="text-align: right">Total de equipos:</td>
        <td>{{getTotalEquipos(area.name)}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-equipo>
    <tr>
        <td></td>
        <td><span class="ml-1 vertical-align-middle">{{equipo.id}}</span></td>
        <td>{{equipo.name}}</td>
        <td>{{equipo.numberOfPorts}}</td>
    </tr>
  </ng-template>
</p-table>
