<p-table
  [value]="areas"
  selectionMode="single"
  dataKey="id"
  [tableStyle]="{'width':'80%','margin-left':'10%','margin-top':'1%', 'margin-bottom':'1%'}">

  <!-- Titulo de la tabla -->
  <ng-template pTemplate="caption">
    <h1 style="width: 80%; margin-left: 10%; margin-top: 1%; margin-bottom: 1%;">ÁREAS <abbr title="NOTA: En caso de tener areas creadas y eliminarlas es necesario reasignar los equipos que se encunetren creados"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg></abbr>


    </h1>
    <p-iconField iconPosition="left" [style]="{'width':'80%','margin-left':'10%','margin-top':'1%', 'margin-bottom':'1%'}">
      <th style="width: 80%; margin-left: 20%; margin-top: 1%; margin-bottom: 1%;">
        <div class="card flex justify-content-center">
          <button (click)="showDialog()" style="border-color: transparent;" class="btn btn-outline-primary">Agregar</button>

          <!-- Zona de creacion de areas -->
          <p-dialog header="Agrega una nueva área" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
              <div style="display: flex; justify-content: space-between; font-weight: bold;">
                  <label for="name" class="font-semibold w-6rem">Nombre del área</label>
                  <input (keyup.enter)="newArea()" [(ngModel)]="zona.name" required pInputText id="name" class="flex-auto" autocomplete="off"/>
              </div>
              <div class="flex justify-content-end gap-2">
                  <button style="margin-top:5%;" label="Save" class="btn btn-success" (click)="newArea()">Guardar</button>
              </div>
          </p-dialog>
        </div>
      </th>
    </p-iconField>
  </ng-template>

  <!-- Encabezados de la tabla -->
  <ng-template pTemplate="header">
    <tr>
      <th style="width:25%">Área</th>
      <th style="width:25%">Id</th>
      <th style="width:25%">Nombre</th>
      <th style="width:25%">Puertos</th>
      <th style="width:25%"></th>
    </tr>
  </ng-template>

  <!-- Áreas desplegables -->
  <ng-template pTemplate="body" let-area let-expanded="expanded">
    <tr>
      <td>
        <button type="button" pButton pRipple [pRowToggler]="area" class="p-button-text p-button-rounded p-button-plain" (click)="loadEndDevices(area)" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        {{area.name}}
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button (click)="deleteArea(area)" class="delete-button">
          <svg class="delete-svgIcon" viewBox="0 0 448 512">
            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
          </svg>
        </button>
      </td>
    </tr>
  </ng-template>

  <!-- Filas de expansión para endDevices -->
  <ng-template pTemplate="rowexpansion" let-area>
    <tr *ngFor="let device of area.endDevices">
      <td></td>
      <td>{{device.id}}</td>
      <td>{{device.name}}</td>
      <td>{{device.numberOfPorts}}</td>
      <td></td>
    </tr>

    <tr class="p-rowgroup-footer">
      <td colspan="4" style="text-align: right">Total de equipos:</td>
      <td>{{getTotalEquipos(area)}}</td>
    </tr>
  </ng-template>

  <!-- Mensaje de cuando no hay areas -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No se encontraron areas.  </td>
    </tr>
  </ng-template>

</p-table>
